.c-input {
  display: flex;
  flex-direction: column;
  gap: 4px;

  input {
    background: none;
    color: #000000;
    border: 1px solid #A3A3A3;
    padding: 8px;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;

    &:focus {
      outline: 1px solid #a217d4;
    }
  }
}