.p-home {
  background: linear-gradient(#3A004F, #17134F);
  height: 100vh;
  height: 100dvh;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__card {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: fit-content;

    h1 {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  &__number-inputs {
    display: flex;
    gap: 8px;

    &__base {
      width: 80px;
    }
  }

  &__destination-base {
    .c-input__input {
      width: 80px;
    }
  }

  &__error-container,
  &__result-container {
    border-top: 1px solid #A3A3A3;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: bold;

    h2 {
      font-size: 1.5rem;
    }

    span {
      font-size: 0.75rem;
      font-weight: initial;
    }
  }

  &__error-container {
    color: #D51616;
  }
}